:root {
  --background-color: white;

  /* --button-color: #0057b4; */
  --button-color: #06B;
  --button-border: #ccc;
  --button-text: white;

  --text-color: #444;
  --text-color-emphasis: #222;

  --list-background: #f4f4f4;
  --list-hover: rgba(179, 215, 255, 0.52);
  --list-span-focus: rgba(179, 207, 255, 0.52);
}

*,
*::before,
*::after {
  box-sizing: border-box
}

html {
  font-family: sans-serif;
  font-size: 1rem;
  color: var(--text-color);
  background-color: var(--background-color);
}

#root {
  max-width: 450px;
  margin: 2rem auto;
  padding: 0 1rem;
}

form {
  display: flex;
  margin-bottom: 2rem;
}

[type="text"],
button {
  display: inline-block;
  -webkit-appearance: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  border: 2px solid var(--button-border);
  border-radius: 4px;
}

button {
  cursor: pointer;
  background: var(--button-color);
  color: var(--button-text);
  border: 2px solid var(--button-color);
  margin: 0 .5rem;
}

[type="text"] {
  width: 100%;
}

[type="text"]:active,
[type="text"]:focus {
  outline: 0;
  border: 2px solid var(--button-color);
}

[type="checkbox"] {
  margin-right: 1rem;
  font-size: 2rem;
}

h1 {
  color: var(--text-color-emphasis);
}

ul {
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  background: var(--list-background);
  border-radius: 4px;
}

li span {
  display: inline-block;
  padding: .5rem;
  width: 250px;
  border-radius: 4px;
  border: 2px solid transparent;
}

li span:hover {
  background: var(--list-hover);
}

li span:focus {
  outline: 0;
  border: 2px solid var(--button-color);
  background: var(--list-span-focus);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #222;
    --text-color: #eee;
    --text-color-emphasis: #fff;

    --list-background: #333;
    --list-hover: rgba(55, 93, 136, 0.52);
    --list-span-focus: rgba(68, 79, 99, 0.52);
  }
}